/* cliente.css */

/* Estilos básicos para la fuente y los iconos de Material */
body {
    font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Estilo para el contenido HTML si quieres usar un estilo de texto simple */
.prose {
    font-size: 1rem;
    line-height: 1.6;
}

.prose h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prose ul, .prose ol {
    padding-left: 1.5rem;
    list-style-position: outside;
}

/* Estilo para los botones de la lista de anuncios */
.list-item-active {
    background-color: #e3f2fd; /* Azul claro para el elemento activo */
    border-left-color: #00A79D; /* Color Primary */
}

/* Puedes añadir más estilos de prioridad aquí si es necesario */